$font-size-primary: 14px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-larger: 16px;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-larger: 16px;
$font-size-ultra: 18px;
$font-size-big: 20px;

$font-weight3: 300;
$font-weight4: 400;
$font-weight5: 500;
$font-weight6: 600;
$font-weight7: 700;

$color-admin-slide-bar: #fe7900;
$color-movie-rating: #f0a800;
$color-movie-info: #999999;
$color-breadcrumbs: #bfbfbf;
$color-footer-social: #ddd;
$color-grey: grey;
$color-search: rgba(226, 200, 166, 0.973);
$color-btn-primary: #007bff;
$color-btn-warning: #ffc107;
$color-btn-danger: #dc3545;
$color-btn-info: #17a2b8;
$color-main: #fe7900;
$color-white: #fff;
$color-black: #000;

$bg-header: #f7f9fa;
$bg-main: #fe7900;
$bg-white: #fff;
$bg-black: #000;
$bg-footer-social: #484d51;

$border-list-movie: #f1f1f1;
