@import "./base/_variables";
@import "./base/_mixins";
@import "./base/_placeholders";
@import "./base/_global";

@import "./layouts/_admin-slide-bar";
@import "./layouts/_admin-management";
@import "./layouts/_header-top-bar";

@import "./pages/_admin";
@import "./pages/_register";
@import "./pages/_login";
@import "./pages/_error404";

@import "./layouts/_login";
@import "./layouts/_register";
@import "./layouts/_movie-video";
@import "./layouts/_header-menu";
@import "./layouts/_slider";
@import "./layouts/_breadcrumbs";
@import "./layouts/_newest-movie";
@import "./layouts/_blog";
@import "./layouts/_new-promotion";
@import "./layouts/_movie-video";
@import "./layouts/_footer";
